/* CSS Reset by Eric Meyer - Removes all default browser styling
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset all HTML elements to remove default browser margins, padding, borders, and standardize font sizes */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	word-wrap: break-word; /* Added to print CSS: helps with long text wrapping */
}

/* Prevent horizontal scrolling */
html, body {
	overflow-x: hidden;
	max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* Set basic body line height */
body {
	line-height: 1;
}
/* Remove default list bullets and numbers */
ol, ul {
	list-style: none;
}
/* Remove default quotation styling */
blockquote, q {
	quotes: none;
}
/* Remove default quotation marks */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Reset table borders and spacing */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



/* Base body font styling - sets font family, size and line height for screen display */
body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
}

/* Paragraph styling - creates left offset and fixed width for content */
p {
	position: relative;
	left: 25%;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 55%;
}

/* Code block styling - monospace font with light gray color */
code {
	font: normal normal;
	font-size: 90%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

/* Special positioning for code within paragraphs - right-aligned outside content area with wrapping constraints */
p code {
	position: absolute;
	text-align: right;
	right: 0%;
	max-width: 20%;
	white-space: nowrap;
}


/* List styling - aligned with paragraph left offset with specific margins */
ul {
	position: relative;
	left: 25%;
	width: 75%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

/* List item styling - creates hanging indent effect */
li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
	/*color: #777;*/
}

/* Nested list styling - no additional left offset */
li ul {
	position: relative;
	left: 0%;
	width: 100%;
	margin-top: 0.25em;
}

/* Heading styles - consistent font family and normal weight */
h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;
}

/* Main heading (name) - large, bold, and left-aligned */
h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 25%;
}

/* Subtitle styling (paragraph immediately following h1) */
h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 90%;
}

/* Section headings - right-aligned in left margin, reddish-brown color for screen */
h2 {
	font-size: 1.1em;
	color: #bc412b;
	margin-top: 3em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
}

/* Subsection headings - right-aligned in left margin */
h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

/* Link styling - blue without underlines */
a {
	color: #0066cc;
	text-decoration:none
}

/* Contact information styling - monospace font with word wrapping for screen */
#webaddress, #contacts {
	margin-top: 1em;
	position: relative;
	left: 25%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 90%;
	max-width: 75%;
	overflow-wrap: break-word;
	word-break: break-word;
}

/* Web address links - reddish-brown color */
#webaddress a {
	color: #bc412b !important;	
	text-decoration: none;
}

/* Web address hover effect - light blue on hover (screen only) */
#webaddress a:hover {
	color:#39f;
}

/* Emphasis styling - italic for screen display (different from print) */
em {
	/* font-weight: bold; */
	font-style: italic;
}

/* Strong text - bold weight */
strong {
	font-weight: bold;
}

/* Hide address in screen view */
#address {
	display: none;
}


/* Mobile/responsive styling - Single-column layout for smaller screens */
@media only screen and (max-width: 960px) {
	/* Reset all heading and content elements to full-width and left-aligned for small screens */
		h1,h2,h3,p,#webaddress,ul,#contacts {
		display: block;
		position: relative;
		top: 0;
		text-align: left;
		left: 0%;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	/* Adjust code blocks for mobile view */
		code {
		display: block;
		position: relative;
		top: 0;
		text-align: left;
		left: 0%;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		padding-left: 0; /* Remove padding for date codes */
		padding-right: 10px;
	}
	
	/* Special handling for code within paragraphs in mobile view */
		p code {
		position: relative;
		text-align: left;
		left: 0;
		right: auto;
		max-width: 100%;
		white-space: nowrap;
		display: inline-block;
		margin-bottom: 6px;
	}

	/* Add space after code blocks in mobile view */
		code+br {
		margin: 0px 0;
		content: "";
		display: block;
	}
	
	/* Adjust web address links for better mobile display */
		#webaddress a {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	
	/* Ensure main content container is full width on mobile */
		#main {
		width: 100%;
		overflow-x: hidden;
	}
}